<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    
	<title>person table</title>
</head>
<body class="container" >
	<center>
<div class="container">
		<form style="margin: 20px 20px 20px 20px" id="form" method="post" action="{% url 'table' %}">
	{% csrf_token %}
	<input id="msg_input" type="text" name="name" placeholder="name">
	<input id="address_inp" type="text" name="address" placeholder="address">
	<input id="dob" type="date" name="DOB">
	<button type="submit">submit</button>
</form>



		<div class="container" style="width: 800px">
		<table id="table-data" width="800px" style="margin: 20px 20px 20px 20px" >
		<thead><tr>
			<th>name </th>
			<th>address</th>
			<th>date of birth</th>

		</tr></thead>
		<tbody>
		{% for i in obj %}

		<tr id="tr_Id">
			<td>{{i.name}}</td>
			<td >{{i.address}}</td>
			<td>{{i.DOB}}</td>


		</tr>

		{% endfor %}
		</tbody>
</table>
	</div>


</div></center>	


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#table-data').dataTable();
    });
</script>
<script>
	var formData = $("#form")
	var msgInput = $("#msg_input")
    	var addressInp = $("#address_inp")
    	var dobInp = $("#dob")
    	var tableRow = $("#table-data")
	console.log(window.location)
  		loc = window.location
  		var wsStart = 'ws://'
		
		if (loc.protocol == 'https:'){
			wsStart = 'wss://'
		}
		var endpoint = wsStart +window.location.host+window.location.pathname
		var socket = new WebSocket(endpoint)


		socket.onopen = function(event){
			console.log("message open hai",event)
			formData.submit(function(event){
				event.preventDefault()
				//console.log(msgText,addressInp,dobInp)
				var nameInp =msgInput.val()
				var addressText = addressInp.val()
				var dobText = dobInp.val() 
				//chatHolder.append("<li>"+msgText+" via "+me+"</li>")
				//var formDataSerialized = formData.serialize() we use this but it also send middleware something 
				//var finalData = {
				//	'message':msgText
				//}
				//socket.send(JSON.stringify(finalData))
				var finalData = {
					'name':nameInp,
					'address':addressText,
					'dob':dobText
				}
				socket.send(JSON.stringify(finalData))


				msgInput.val('')
				dobInp.val('')
				addressInp.val('')
				//formData[0].reset()
					

			})
		}
		socket.onerror= function(event){
			console.log("message error hai",event)
		}
		socket.onmessage= function(event){
			console.log("message hai",event)
			var get_data = JSON.parse(event.data)
			var table_data = $("#table-data").DataTable()
    	table_data.row.add([
    		get_data.name,
    		get_data.address,
    		get_data.dob
    	]).draw()

		}
		socket.onclose= function(event){
			console.log("message onclose hai",event)
		}


	/*$(document).on('submit','#form',function(e){
		e.preventDefault();

		$.ajax({
			type : 'post',
			url : 'data/',
			data:{
				name:$("#msg_input").val(),
				address:$("#address_inp").val(),
				dob:$("#dob").val(),
				csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
			},
			success : function(){
			//	$("#table-data").append("<td>"+$("#msg_input").val()+"</td><td>"+$("#address_inp").val()+"</td><td>"+$("#dob").val()+",</td>");
				/*$("#table-data").find('tbody')
    .append($("#tr_Id").append(
"<td>"+$("#msg_input").val()+"</td><td>"+$("#address_inp").val()+"</td><td>"+$("#dob").val()+",</td>"
    	));
var table_data = $("#table-data").DataTable()
    	table_data.row.add([
    		$("#msg_input").val(),
    		$("#address_inp").val(),
    		$("#dob").val()
    	]).draw()


				$("#msg_input").val('');
				$("#address_inp").val('');
				$("#dob").val('');

			},
		});

	});
*/
	
</script>
     </body>
</html>	